waitress
flask==2.3.3
pypdf
gunicorn
pytz
pytube3
psycopg2
SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
Flask-SQLAlchemy
Werkzeug==2.3.7
python-dotenv
Markdown
requests
flask-ckeditor
beautifulsoup4
psutil
requests_html
flask_simplemde
pandas
waitress
mailjet_rest
docxlatex
captcha
flask_simple_captcha
bleach
docx2pdf