{%if current_user.is_authenticated %}
  <div class="border row  rounded m-0 p-0 mt-1">
    
      {%if current_user.khoatk==1 %}
        <div class="col-sm text-white text-center bg-danger border-danger">
          <b>Tài khoản của bạn bị khóa</b>
      {%else%}
        <div class="col-sm text-white text-center bg-success border-success">
          {%if current_user.giaovien==1%}
            <b>Tài khoản giáo viên</b><br>
          {%else%}
            <b>Thời hạn: <span id="thoihan"></span><br>
          {%endif%}
        
        Số lượt nộp bài: {{solannpbaiconlai()}}</b> 
      {%endif%}
    </div>
  </div>
  <script>
    // Set the date we're counting down to
    var countDownDate = new Date("{{current_user.thoihan}}");
    
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
    
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
      
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
      // Display the result in the element with id="demo"
      document.getElementById("thoihan").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";
    
      // If the count down is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("thoihan").innerHTML = "EXPIRED";
      }
    }, 1000);
    </script>
{%endif%}
