    <div class="row d-flex justify-content-center">
        <div class="col-sm-4 text-center ">
            <h2 class="text-center">Đăng nhập</h2>
        <form method="post" action="{{url_for('login') }}">
                <input type="hidden" value="{{ request.args.get('next', '') }}" name="next"/>
                
                    <input type="text" class="form-control p-1 m-1" placeholder="Username" name="username" value="{{request.form.username }}">
                
                    <input type="password" class="form-control p-1 m-1" placeholder="Password" name="password" value="{{request.form.password }}">
                
                <input class="btn btn-success p-1 m-1" type="submit" value=" Submit ">
        </form>
        <p class="error"> {% if error %} {{ error|safe }} {% endif %}</p>
        
        </div>
    </div>

    