<div class="border border-success rounded m-0 p-0 mt-1">
  <table class="table table-hover table-borderless table-sm">
    <thead m-0 p-0>
      <tr class="text-center bg-success">
        <th class="align-middle text-white">Bài tập mới</th>
      </tr>
    </thead>
    <tbody>
      {%for key in newpro %}
        <tr>
          <td>
            <small><a href="{{url_for('viewpr',idp=key)}} "target="_blank"class="link" title="{{newpro[key]}}">{{key}} \( - \)<b>{{newpro[key]}}</b></a></small>
          </td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
