
<div class="row d-flex justify-content-center">
     <div class="col-sm-10">
     <table class="table table-bordered">
          <thead>
               <tr>
                    <th class="text-center" style="color: #007bff; font-weight: bold;">Quyền lợi khi là giáo viên</th>
                    <th class="text-center" style="color: #007bff; font-weight: bold;">Quyền lợi khi là học sinh</th>
               </tr>
          </thead>
          <tbody>
                  <tr>
                         <td><i class="fas fa-file-alt text-success"></i> Được làm và nộp bài tất cả các bài tập trên web</td>
                         <td><i class="fas fa-file-alt text-success"></i> Được làm và nộp bài tất cả các bài tập trên web</td>
                  </tr>
                  <tr>
                         <td><i class="fas fa-upload text-success"></i> Có 10000 lượt nộp bài</td>
                         <td><i class="fas fa-upload text-success"></i> Có 2000 lượt nộp bài</td>
                  </tr>
                  <tr>
                         <td><i class="fas fa-eye text-success"></i> Xem 100 testcase miễn phí trong 24 giờ</td>
                         <td><i class="fas fa-eye text-success"></i> Xem 10 testcase miễn phí trong 24 giờ</td>
                  </tr>
                  <tr>
                         <td><i class="fas fa-infinity text-success"></i> Không giới hạn thời gian sử dụng tài khoản</td>
                         <td><i class="fas fa-calendar-alt text-success"></i> Thời gian sử dụng tài khoản là 365 ngày</td>
                  </tr>
                  <tr>
                         <td><i class="fas fa-user-plus text-success"></i> Thêm tối đa 03+ học sinh vào danh sách của mình</td>
                         <td></td>
                  </tr>
                  <tr>
                         <td><i class="fas fa-users-cog text-success"></i> Quản lý học sinh của mình</td>
                         <td></td>
                  </tr>
                  <tr>
                         <td><i class="fas fa-key text-success"></i> Reset mật khẩu cho học sinh</td>
                         <td></td>
                  </tr>
                  <tr>
                         <td><i class="fas fa-code text-success"></i> Xem chương trình của học sinh</td>
                         <td></td>
                  </tr>
                  <tr>
                         <td><i class="fas fa-lightbulb text-success"></i> Xem hướng dẫn thuật toán</td>
                         <td></td>
                  </tr>
               <tr>
                    <td colspan="2" class="text-center text-primary">
                         <i class="fas fa-envelope text-danger"></i> Để được cấp quyền giáo viên, thầy/cô cần dùng email công vụ (được nhà trường cấp) gửi <b>tên đăng nhập</b> vào email <a href="mailto:haiphong129.88@gmail.com">haiphong129.88@gmail.com</a><br>
                         <b><i class="fas fa-envelope text-danger"></i> Liên hệ qua email hoặc Zalo/Facebook: <a href="tel:0935011218">0935011218</a> nếu cần hỗ trợ.</b>
                    </td>
               </tr>
          </tbody>
     </table>
     </div>
     </div>
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6806423260473745"
     crossorigin="anonymous"></script>
<!-- first -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6806423260473745"
     data-ad-slot="2091597288"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
