<div class="border border-success rounded m-0 p-1 mt-1">
  <table class="table table-hover table-borderless table-sm">
    <thead m-0 p-0>
      <tr class="text-center bg-info">
        <th class="align-middle">Thống kê</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>
          <strong>AC/Sub: <span class="text-success">{{static['AC']}}</span>/<span class="text-danger">{{static['SM']}}</span><br>
          Pascal: <span class="text-success">{{static['PAS']}}</span><br>
          C++: <span class="text-success">{{static['C++']}}</span><br>
          Python: <span class="text-success">{{static['PY']}}</span><br>
          Lượt xem/tải tests: <span class="text-success">{{numviewtestcase()}}</span></strong>
         </td></tr>
      
    </tbody>
  </table>
</div>

