{% extends "base.html" %}
{% block content %}
<div class="p-1 m-1">
    <p><b>Số lần xem chương trình</b></p>
    <ul>
        <li>Tài khoản mới tạo được tặng 6 xu.</li>
        <li>Mỗi lần xem chương trình người khác mất 1 xu.</li>
        <li>Mỗi lần người khác xem chương trình của bạn thì bạn được cộng 0,1 xu.</li>
        <li>Nếu bạn đã đạt 10 điểm trong 1 bài tập thì bạn được xem chương trình của người khác ở bài tập đó mà không mất xu, người khác cũng không được cộng xu.</li>
    </ul>
</div>
{% endblock %}