{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center border border-danger rounded p-1 m-1">
    <div class="col-sm-10">
        <h4 class="text-center text-success text-bold">ĐỀ THI MỚI</h4>
    {% for d in dethi %}
        <p>
            &nbsp;{{loop.index}}.
            <a href = "{{ url_for('xemde',idde=d['idde']) }}" target="_blank">
                {%set year2 = "năm học" %}
                {%if d['kythi']=="Olympic 30/4" %}
                    {%set year2 = "năm" %}
                {%endif%}
                {%if d['tinh'] in ['Hà Nội','Hải Phòng','Đà Nẵng','Cần Thơ','Hồ Chí Minh']%}
                    Đề thi <b>{{d['kythi']}}</b> TP <b>{{d['tinh']}}</b> {{year2}} <b>{{d['namhoc']}}</b> 
                {%else%}
                    Đề thi <b>{{d['kythi']}}</b> tỉnh <b>{{d['tinh']}}</b> {{year2}} <b>{{d['namhoc']}}</b>
                {%endif%} {{d['notetitle']}}
            </a>
            <small>
                &nbsp;-&nbsp;Người góp
                <a href="{{url_for('info',user=d.username)}}"target="_blank"class="link">{{d['nguoigop']}}</a>
            </small>
            
            {%if d['stt']==0 and fhp_permit(['superadmin']) %}
                &nbsp;&nbsp;  <a href="{{url_for('duyetde',idde=d['idde'])}}"><span class="text-danger"> [Duyệt đề] </span></a>
            {%else%}
              <small class="text-secondary">&nbsp;&nbsp;{{d['luotxem']}} lượt xem</small>
            {%endif%}
        </p>
    {%endfor%}
    </div>
</div>
<div class="row justify-content-center border border-danger rounded p-0 m-0">
    <div class="col-sm-12">
    <h4 class="text-center text-success text-bold">BÀI TẬP MỚI</h4>
    {%for problem in pro%}
        <div class="d-grid gap-1 inline"><button class="btn btn-link " type="button" data-bs-toggle="collapse" data-bs-target="#{{problem['id_p']}}" aria-expanded="false" aria-controls="collapseWidthExample">
            <h5> {{problem["id_p"]}} - {{problem["id_name"]}} </h5>
        </button> </div>

        <div class="collapse collapse-horizontal m-1 p-1" id="{{problem['id_p']}}">
          <div class="card card-body m-0 p-0">
            {%if problem['source'] %} <small><b>Nguồn:</b> {{problem['source']|safe}} </small>{%endif%}
            {%if problem['imgbase64']!=0%}
                <img src="data:image/png;base64, {{problem['imgbase64']}}"  style="width: 100%;" class=""/>
            {%else%}
                {%if problem['body']|length<=100 and problem['pdf']%}
                    <iframe src="/static/download/{{problem['id_p']}}.pdf" frameBorder="0" scrolling="auto" height="700" width="100%" ></iframe>
                {%else%}
                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
                    {{problem['body']|safe}}
                    <script type="text/javascript">
                        MathJax.Hub.Config({
                                 tex2jax: {inlineMath: [["~","~"],["\\(","\\)"]]}
                             });
                     </script>  
                {%endif%}
            {%endif%}
            
            <p class="text-center p-0 m-0">
                {%if current_user.is_authenticated %}
                        <a href="{{ url_for('viewctpr',idp=problem['id_p']) }}" title="{{ problem['pname']}}" role="button" class="btn btn-success"> Nộp bài </a>
                {%else%}
                    <span class="text-danger text-center"><b>Bạn cần <a href="{{ url_for('login') }}" > Đăng nhập </a> để nộp bài</b></span>
                    {%endif%}
            </p>
          </div>
        </div>
      
    {%endfor%}

    </div>  
</div>
<div class="row justify-content-center border border-danger rounded p-0 m-0">
    <div class="col-sm-12">
        <h4 class="text-center text-success text-bold">{{tintuc['title']|safe}}</h4>
        {{ tintuc['content']|safe }}
    </div>
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6806423260473745"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-6806423260473745"
     data-ad-slot="1332342160"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
 
{% endblock %}