<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6806423260473745"
  crossorigin="anonymous"></script>
</head>

<body>
    
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6806423260473745"
  crossorigin="anonymous"></script>   
<!-- first -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6806423260473745"
     data-ad-slot="2091597288"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>


<!-- first_2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6806423260473745"
     data-ad-slot="3180750038"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>


        
<!-- first -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6806423260473745"
     data-ad-slot="2091597288"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<!-- first_2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6806423260473745"
     data-ad-slot="3180750038"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                  
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-6806423260473745"
     data-ad-slot="1332342160"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
      
    
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-ex+6i-31-8x+ro"
     data-ad-client="ca-pub-6806423260473745"
     data-ad-slot="2529856227"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>