{% extends "base.html" %}
{% block content %}
   	<h2 class="text-center"> ĐĂNG KÝ </h2>
    <p class="text-center"> {{ error|safe }} </p>
    <div class="row justify-content-center align-items-center m-1">
        <div class="col-sm-6 m-1 p-1">
            <form method="post" action="{{ url_for('signuphs') }}" onsubmit="return on_submit()">
                <div class="input-group mb-1 mt-1">
                    <span class="input-group-text" style="width: 150px;">Họ và tên</span>
                    <input type="text" class="form-control" name="fullname" id="fn" value="{{ request.form.fullname }}" required>
                </div>
                <div class="input-group mb-1">
                    <span class="input-group-text" style="width: 150px;">Email</span>
                    <input type="email" class="form-control" name="email" id="email" value="{{ request.form.email }}" required>
                </div>
                <div class="input-group mb-1">
                    <span class="input-group-text" style="width: 150px;">Tên đăng nhập</span>
                    <input type="text" class="form-control " name="username" id="username" required>
                </div>
                
                <div class="input-group mb-1">
                    <span class="input-group-text" style="width: 150px;">Ngôn ngữ lập trình</span>
                    <select class="form-select" name="lang" required>
                        <option value="python">Python</option>
                        <option value="c_cpp">C++</option>
                        <option value="pascal">Pascal</option>
                    </select>
                </div>
                
                <div class="row justify-content-center align-items-center m-1">
                    <div class="col-sm-4 d-grid gap-2">
                        <input class="btn btn-success" type="submit" value="Đăng ký" id="submit" >
                    </div>
                </div>
            </form>
        </div>
    </div>
    <p class="text-center text-success"> 
        Các tài khoản được giáo viên đăng ký mới có thời gian sử dụng 365 ngày.<br>
        Mật khẩu mặc định của tài khoản học sinh mới là <b>haiphongoj</b>.
    </p>
    
 <script type="text/javascript">

    function on_submit() 
    {
        var regex = /[^a-z0-9_]/;
        var username=document.getElementById('username').value;
        
        var fn=document.getElementById('fn').value;
        var err="";
        if(regex.test(username)) err =err+ "<b>Tên đăng nhập </b>Chỉ được dùng chữ cái in thường hoặc số hoặc dấu gạch dưới.<br>";
        if(username.length>15) err =err+ "<b>Tên đăng nhập </b>Tối đa 15 ký tự. ";
        if(username.length<6) err =err+ "<b>Tên đăng nhập </b>Tối thiểu 06 ký tự. ";
        
        document.getElementById("err").innerHTML = err;
        if(err!="") return false;
        return true;
    }
 </script>
{% endblock %}